body{
	
}
.imgResponsive {
    float: left;
    margin: 0 0 10px 10px;
}
 a {
     text-decoration: none ;
  }
a:hover
  {
    
    text-decoration:none;
    cursor:pointer;
   }
it{
  font-style: italic;
}
.tab-pane{
    height:600px;
    overflow-x: hidden;
    overflow-y:scroll;

}